# Указываем Минимальная целевая версия Python — важно для правильной работы ренеймера, парсера и проверки синтаксиса
target-version = "py311"

# исключить файлы для проверки в окружении
exclude = [".venv", ".ruff_cache"]

# Показывать ли список всех исправленных нарушений линтинга (переопределяется --show-fixesфлагом)
show-fixes = true

# (в верхнем уровне) Количество пробелов на каждый уровень отступа
indent-width = 4

# Устанавливаем максимально допустимую длину строки —
# 88 символов, как это делает форматтер black (удобно для split-view и терминала)
line-length = 88

[format]

# Использовать ли пробелы или табуляцию для отступов. indent-style = "tab"
indent-style = "space"

# Задает предпочтительный символ кавычки для строк 
# double(по умолчанию): Использовать двойные кавычки
# single Используйте одинарные кавычки
# Ruff поддерживает стиль кавычек preserve для проектов, которые уже используют сочетание одинарных и двойных кавычек и не могут перейти на стиль double«или» single
# Стиль кавычек preserveоставляет кавычки всех строк без изменений
quote-style = "preserve"

# запятая после последнего элемента в коллекции
# Ruff использует существующие завершающие запятые как указание на то, что короткие строки следует оставлять раздельными. 
# Если этот параметр установлен в значение true, магическая завершающая запятая игнорируется и строка выровняется
# false - Ruff оставляет аргументы раздельно, даже если объединение аргументов в одну строку не превышает длину строки 
skip-magic-trailing-comma = false

# Docstring — это строки документации в тройных кавычках
# Ruff будет форматировать код внутри docstring
docstring-code-format = true

[lint]

# Выбираем набор правил для анализа линтером:
# E — ошибки стиля (pycodestyle)
# F — ошибки, связанные с неиспользуемые переменными, и т. д. (pyflakes)
# I — сортировка импортов (аналог isort)
# B — flake8-bugbear: поиск потенциальных багов
# ОШИБКА C4 - Включаем flake8-comprehensions (понадобиться что бы убрать лишние скобки)
# D - pydocstyle (документация) - D100, D101, D103
# ERA - eradicate (закомментированный код) - ERA001
# UP - pyupgrade (устаревший синтаксис) - UP006, UP035
# PTH - flake8-use-pathlib - PTH123 (работа с путями)
# TRY - tryceratops (обработка исключений) - TRY003, TRY300
# EM - lint.flake8-errmsg - EM101, EM102 (проверяет литералы f-строки) (отрабатывает плохо не корректно)
# N - pep8-naming - N806, N803 (имена переменных)
# RUF - специфичные для Ruff - RUF005 специфичные правила Ruff
# T - flake8-print - T201 (проверка print)
# BLE - flake8-blind-except - BLE001 (слепые except)

# Базовый набор
select = ["E", "F", "I", "B", "N"] # "UP", "RUF", "PTH", "TRY"

# Дополнительно если нужно
extend-select = ["D", "T", "ERA", "BLE", "C901"]

ignore = ["T201", "D", "ERA001", "TRY003", "B904"]

# T201 - выдает ошибку когда находит оператор print
# D103 - ругается на отсутствие документации к функции
# D100 - Ошибка возникает, когда в модуле нет docstring — описательной строки в начале файла, объясняющей его назначение.
# D101 - нет документации в классах
# ERA001 - говорит о нахождении закомментированного кода.

# select = ["ALL"] # использовать все правила

fixable = ["ALL"]  # Список кодов или префиксов правил, которые считаются исправимыми. По умолчанию все правила считаются исправимыми.

# unfixable = []   # Нет запрещенных для автофикса - список кодов правил, которые Ruff НЕ будет пытаться автоматически исправлять (fix), даже если они поддерживают автофикс


[lint.isort]
# Настройки сортировки импортов
section-order = ["future", "standard-library", "first-party", "local-folder", "third-party"]

lines-between-types = 1              # Одна пустая строка между группами
lines-after-imports = 2              # Две пустые строки после всех импортов
# known-first-party = ["myapp", "utils", "core"]  # Модули нашего проекта
# known-third-party = ["django", "requests", "pandas"]  # Частые сторонние библиотеки
# combine-as-imports = true            # Объединять from X import A, B, C
force-single-line = false            # Разрешить несколько импортов в строке
split-on-trailing-comma = true       # Relative imports каждый с новой строки

# no-sections = true - все импортируемые файлы будут сгруппированы в один раздел


[lint.flake8-self]
ignore-names = ["id"]        # Можно перекрывать встроенные id "N"

[lint.mccabe]
max-complexity = 5                  # Предупреждать при сложности >5 "C901"

# Конкретная настройка для убирания лишних скобок
[lint.flake8-comprehensions]
allow-dict-calls-with-keyword-arguments = true # Разрешите dictвызовы, использующие именованные аргументы (например, dict(a=1, b=2))

[lint.flake8-errmsg]
# EM102 возникает, например, в коде, где в сообщении исключения используется литерал f-строки без назначения его переменной.
max-string-length = 200 #  Максимальная длина строковых литералов в сообщениях об исключениях. "EM"

[lint.pep8-naming]
ignore-names = ["X*"]
